:not(not) {
  box-sizing: border-box;
}
.amap-logo {
  display: none;
  opacity: 0 !important;
}
.amap-copyright {
  display: none;
  opacity: 0 !important;
}
.amap-marker-label {
  width: 5rem;
  font-size: 16px;
  text-align: center;
  color: green;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4) !important;
  border: solid 2px rgba(100, 255, 200, 0.8);
}

page {
  --safe-area-inset-top: 0px;
  --safe-area-inset-right: 0px;
  --safe-area-inset-bottom: 0px;
  --safe-area-inset-left: 0px;
}

@supports (top: constant(safe-area-inset-top)) {
  page {
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    --safe-area-inset-left: constant(safe-area-inset-left);
  }
}

@supports (top: env(safe-area-inset-top)) {
  page {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}
